*.iml
.gradle
/local.properties
/app/src/main/assets/secrets.properties
/app/src/main/res/values/google_maps_api.xml
/app/google-services.json
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/kwos/dronepilotapp/WeatherLayerManager.kt

# Kotlin / Android Studio
.kotlin/
.idea/
*.iml
local.properties

# Build outputs
/build/
/app/build/
*.apk
*.aab

# Logs
*.log