<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.kwos.dronepilotapp">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".DronePilotApp"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:networkSecurityConfig="@xml/network_security_config">


        <!-- Attività principale -->
        <activity
            android:name="com.kwos.dronepilotapp.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DronePilotApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aggiungi la dichiarazione per DashboardActivity -->
        <activity
            android:name="com.kwos.dronepilotapp.DashboardActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/dashboard_activity_label"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>

        <activity
            android:name=".ChatActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true">
        </activity>

        <activity android:name=".WeatherForecastActivity">
        <!-- Puoi aggiungere un'intent-filter se desideri che questa activity possa essere avviata anche da un altro punto, ma in questo caso non è necessario -->
        </activity>

        <activity android:name=".WeatherGpsActivity">
            <!-- Puoi aggiungere un'intent-filter se desideri che questa activity possa essere avviata anche da un altro punto, ma in questo caso non è necessario -->
        </activity>

        <activity android:name=".WeatherForecastDetailsActivity">
            <!-- Puoi aggiungere un'intent-filter se desideri che questa activity possa essere avviata anche da un altro punto, ma in questo caso non è necessario -->
        </activity>

        <activity android:name=".PilotiOnlineActivity">
            <!-- Puoi aggiungere un'intent-filter se desideri che questa activity possa essere avviata anche da un altro punto, ma in questo caso non è necessario -->
        </activity>
        <activity android:name=".ImpostazioniActivity">
            <!-- Puoi aggiungere un'intent-filter se desideri che questa activity possa essere avviata anche da un altro punto, ma in questo caso non è necessario -->
        </activity>
        <activity android:name=".InformazioniActivity">
            <!-- Puoi aggiungere un'intent-filter se desideri che questa activity possa essere avviata anche da un altro punto, ma in questo caso non è necessario -->
        </activity>
        <activity android:name=".GroupChatActivity">
            <!-- Puoi aggiungere eventuali intent-filter o altre configurazioni se necessarie -->
        </activity>
        <activity android:name=".TakeoffSpotsActivity">
            <!-- Puoi aggiungere eventuali intent-filter o altre configurazioni se necessarie -->
        </activity>
        <activity android:name=".DroneLogActivity">
            <!-- Puoi aggiungere eventuali intent-filter o altre configurazioni se necessarie -->
        </activity>
        <activity android:name=".NDFilterAssistantActivity">
            <!-- Puoi aggiungere eventuali intent-filter o altre configurazioni se necessarie -->
        </activity>
        <activity android:name=".PreFlightChecklistActivity">
            <!-- Puoi aggiungere eventuali intent-filter o altre configurazioni se necessarie -->
        </activity>
        <activity android:name=".CouponActivity"
            android:theme="@style/CouponDialogTheme"/>


        <activity android:name=".WebViewActivity" />
        <activity android:name=".WebViewWindyActivity" />
        <activity android:name=".AddTakeoffSpotActivity" />
        <activity android:name=".SpotDetailsActivity" />
        <activity android:name=".AddDroneActivity" />
        <activity android:name=".SchedaPilotaActivity" />
        <activity android:name=".DocumentoDettaglioActivity"/>
        <activity android:name=".DocumentoAlertActivity"/>
        <activity android:name=".QuizHomeActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".QuizResultActivity" />
        <activity android:name=".ImageDistanceActivity" />
        <activity android:name=".MapImageDistanceActivityActivity" />
        <activity android:name=".InfoImageDistanceActivity" />

        <activity
            android:name=".ARSpotViewerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".FullScreenImageActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".WifiBeaconScanService"
            android:foregroundServiceType="location" />

        <service
            android:name=".BluetoothScanService"
            android:foregroundServiceType="connectedDevice" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Abilita Crashlytics -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kwos.dronepilotapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>


</manifest>
